<!DOCTYPE html>
<html>
<body>

    <!--MAIN HEADER AREA END -->
    <!--MAIN BANNER AREA START -->
    <div class="banner-area banner-3">
        <div class="overlay dark-overlay"></div>
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                            <div class="banner-content content-padding">
                                <h5 class="subtitle">A asp .net demo</h5>
                                <h1 class="banner-title">Learn a asp.net using this site</h1>
                                <p> ASP.NET is a web application framework developed and marketed by Microsoft to allow programmers to build dynamic web sitest.</p>

                                <a href="#" class="btn btn-white btn-circled">lets start</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--MAIN HEADER AREA END -->
    <!--  ABOUT AREA START  -->
    <section id="intro" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="section-heading">
                        <p class="lead">We are creative and providing a different type of template like below</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5  d-none d-lg-block col-sm-12">
                    <div>
                        <img src="~/images/asp.jpg" alt="service-icon" height="600" width="1500">
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 ">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="intro-box">
                                <span>01.</span>
                                <h4>ASP.NET Web form</h4>
                                <p>Web Forms are web pages built on the ASP.NET Technology. It executes on the server and generates output to the browser. It is compatible to any browser to any language supported by .NET common language runtime. It is flexible and allows us to create and add custom controls..</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="intro-box">
                                <span>02.</span>
                                <h4>ASP.NET MVC</h4>
                                <p>ASP.NET MVC is basically a web development framework from Microsoft, which combines the features of MVC (Model-View-Controller) architecture, the most up-to-date ideas and techniques from Agile development, and the best parts of the existing ASP.NET platform. </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="intro-box">
                                <span>03.</span>
                                <h4>ASP.NET core</h4>
                                <p>ASP.NET Core is the new web framework from Microsoft. ASP.NET Core is the framework you want to use for web development with .NET. At the end this tutorial.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="intro-box">
                                <span>04.</span>
                                <h4>ASP.NET WPF</h4>
                                <p>WCF has integrated logging mechanism, changing the configuration file settings will provide this functionality. In other technology developer has to write the code..</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="intro-cta">
                                <p class="lead ">Still have any question on mind ? <a href="#contact" class="smoth-scroll">Contact us</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  ABOUT AREA END  -->
    <!--  SERVICE AREA START  -->
    <section id="about" class="bg-light">
        <div class="about-bg-img d-none d-lg-block d-md-block"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-12 col-md-8">
                    <div class="about-content">
                        <h5 class="subtitle">About us</h5>
                        <h3>We are teaching best to our clients </h3>
                        <p>ASP.NET Core is the latest web framework from Microsoft, and is engineered to be fast, easy, and work across platforms. In this course, ASP.NET Core Fundamentals, you will build your first application with ASP.NET Core from scratch. First, you will learn how to work with a database to display and edit data. Then, you will explore middleware, view components, and database migrations with the Entity Framework. Finally, you will delve into building an API controller, and see how to work with client-side libraries. By the end of this course, you will have the skills and knowledge of ASP.NET Core needed to be productive in a typical business-oriented application..</p>

                        <ul class="about-list">
                            <li><i class="icofont icofont-check-circled"></i>create Responsive site</li>

                            <li>
                                <i class="icofont icofont-check-circled"> </i> Latest bootstrap
                            </li>

                            <li>
                                <i class="icofont icofont-check-circled"> </i> Modern and clean design
                            </li>
                            <li>
                                <i class="icofont icofont-check-circled"> </i> Working contact form
                            </li>
                            <li>
                                <i class="icofont icofont-check-circled"> </i> Premium services and support
                            </li>
                            <li>
                                <i class="icofont icofont-check-circled"></i> Cross browser compatiabilty
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  SERVICE AREA END  -->
    <!--  SERVICE PARTNER START  -->
    <section id="service-head" class=" bg-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 m-auto">
                    <div class="section-heading text-white">
                        <h4 class="section-title">Full stack developer tools</h4>
                        <p>We’re teaching a all tools required for make a full stack developer.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  SERVICE PARTNER END  -->
    <!--  SERVICE AREA START  -->
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div>
                            <img src="~/images/icon/HTML.png" alt="service-icon" class="img-fluid" height="120" width="120">
                        </div>
                        <div class="service-inner">
                            <h4>HTML</h4>
                            <p>The HyperText Markup Language or HTML is the standard markup language for documents designed to be displayed in a web browser.using html youcan build static and dynamic websites .</p>
                            <a href="https://www.w3schools.com/html/">more..</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box ">
                        <div>
                            <img src="~/images/icon/css.png" alt="service-icon" class="img-fluid" height="140" width="140">
                        </div>
                        <div class="service-inner">
                            <h4>CSS</h4>
                            <p>CSS stands for Cascading Style Sheets. It is a style sheet language which is used to describe the look and formatting of a document written in markup language.</p>
                            <a href="https://www.w3schools.com/Css/">more..</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div>
                            <img src="~/images/icon/javascript.png" alt="service-icon" class="img-fluid" height="100" width="100">
                        </div>
                        <div class="service-inner">
                            <h4>Javascript</h4>
                            <p>JavaScript (js) is a light-weight object-oriented programming language which is used by several websites for scripting the webpages.</p>
                            <a href="https://www.w3schools.com/js/DEFAULT.asp">more..</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div>
                            <img src="~/images/icon/c.jpg" alt="service-icon" height="100" width="100">
                        </div>
                        <div class="service-inner">
                            <h4>C Sharp</h4>
                            <p>
                                C# tutorial provides basic and advanced concepts of C#. Our C# tutorial is designed for beginners and professionals.
                                C# is a programming language of .Net Framework.
                            </p>
                            <a href="https://www.javatpoint.com/c-sharp-tutorial">more..</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div>
                            <img src="~/images/icon/git.png" alt="service-icon" class="img-fluid" height="100" width="100">
                        </div>
                        <div class="service-inner">
                            <h4>Git</h4>
                            <p>Git is an open-source distributed version control system. It is designed to handle minor to major projects with high speed and efficiency. It is developed to co-ordinate the work among the developers.</p>
                            <a href="https://git-scm.com/">more..</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div>
                            <img src="~/images/Node.png" alt="service-icon" class="img-fluid" height="150" width="130">
                        </div>
                        <div class="service-inner">
                            <h4>Node js</h4>
                            <p>
                                Node.js is a server-side platform built on Google Chrome's JavaScript Engine (V8 Engine). Node.js was developed by Ryan Dahl in 2009 and its latest version is v0.10.36.
                            </p>
                            <a href="https://www.w3schools.com/nodejs/nodejs_intro.asp">more..</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  SERVICE AREA END  -->
    <!-- PRICE AREA START  -->
    <!-- PRICE AREA END  -->
    <!--  TESTIMONIAL AREA START  -->
    <section id="testimonial" class="section-padding ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="mb-5">
                        <h3 class="mb-2">Trusted by hundred over client</h3>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 m-auto col-sm-12 col-md-12">
                    <div class="carousel slide" id="test-carousel2">
                        <div class="carousel-inner">
                            <ol class="carousel-indicators">
                                <li data-target="#test-carousel2" data-slide-to="0" class="active"></li>
                                <li data-target="#test-carousel2" data-slide-to="1"></li>
                                <li data-target="#test-carousel2" data-slide-to="2"></li>
                            </ol>

                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        <div class="testimonial-content style-2">
                                            <div class="author-info ">
                                                <div class="author-img">
                                                    <img src="~/images/author/R.png" alt="" class="img-fluid">
                                                </div>
                                            </div>

                                            <p><i class="icofont icofont-quote-left"></i>They is a great platform to anyone like who want to start learn .net but not get right decision. It’s really great placefor new to start the journey in righ way! <i class="icofont icofont-quote-right"></i></p>
                                            <div class="author-text">
                                                <h5>PRANAV-WALUNJ</h5>
                                                <p>.Net Developer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  TESTIMONIAL AREA END  -->
    <!--  PARTNER START  -->
    <!--  COUNTER AREA START  -->
    <section id="counter" class="section-padding">
        <div class="overlay dark-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="counter-stat">
                        <i class="icofont icofont-heart"></i>
                        <span class="counter">460</span>
                        <h5>Our Happy Clients</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="counter-stat">
                        <i class="icofont icofont-rocket"></i>
                        <span class="counter">60</span>
                        <h5>Projects Done</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="counter-stat">
                        <i class="icofont icofont-hand-power"></i>
                        <span class="counter">30</span>
                        <h5>Experienced stuff</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="counter-stat">
                        <i class="icofont icofont-shield-alt"></i>
                        <span class="counter">25</span>
                        <h5>Ongoning Projects</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  COUNTER AREA END  -->
    <!--  FOOTER AREA START  -->
    <!--  FOOTER AREA END  -->
    <!--
    Essential Scripts
    =====================================-->
   


</body>
</html>